<div class="container m-5">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">PeliculasApp</h1>
    <p class="lead">Esta es una aplicacion de peliculas</p>
  </div>
</div>
<hr>
    
   
    <app-galeria [peliculas]="peliculas | slice:0:6" titulo="Peliculas en cartelera"></app-galeria>
    <hr>

    <div>
      <h3>Peliculas para niños</h3>
  </div>
 
  <app-galeria [peliculasKids]="peliculasKids"></app-galeria>
  <hr>
  <div>
    <h3>Peliculas del año</h3>
</div>

<app-galeria [peliculaAno]="peliculaAno"></app-galeria>
